<section class="finder-shell">
  <div data-finder-target="window" class="finder-window collapsed"></div>
  <div class="finder-main-pane hidden opacity-0" data-finder-target="mainPane">
    <turbo-frame id="app-pane" class="finder-app-frame"></turbo-frame>
  </div>
</section>
