<section id="organizer" class="organizer-panel organizer-panel--apps" data-controller="organizer" data-finder-target="sidebar">
  <nav
    class="organizer-tools-grid organizer-tools-grid--launcher os-window-body-start os-window-grid os-window-grid--2"
    aria-label="Launcher"
  >
    <% launcher_grid_entries.each do |entry| %>
      <%= render partial: "organizer/launcher_tile", locals: entry %>
    <% end %>
  </nav>
</section>
